
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

.customers {
    display: flex;
    flex-direction: column;
    background: rgba(251, 218, 187, 0.427);
    width: 100%;
    padding: 20px 20% 100px ;
}

.customers h1 {
    text-align: center;
    padding: 30px 0;
    font-family: "Markazi Text", serif;
    font-weight: 200;
    font-size: 4rem;
}

.customers-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 2.5rem;
}

.customers-container .custumers_card {
    background: white;
    border-radius: 15px;
    width: 280px;
    height: 500px;
}

.custumers_card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.custumers_card .img-name {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.custumers_card h3 {
    text-align: center;
    padding: 14px 0;
}

.custumers_card p {
    font-style: normal;
    padding: 20px 25px;
}

/* Responsive Design */

/* Pantallas de tabletas */
@media (max-width: 1200px) and (min-width: 768px) {
    .customers{
        padding: 0 0 40px 0;
    }
    .customers-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .customers-container .custumers_card {
        width: 45%; /* Mostrar dos cuadros en tabletas */
    }
}

/* Pantallas de móviles */
@media (max-width: 767px) {
    .customers-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .customers-container .custumers_card {
        width: 90%; /* Mostrar un cuadro en móviles */
    }
}
